@model sgs_admin.Models.Mensagem

<script type="text/javascript">
    $(function () {
        $("#Inicio").focus();
        switch ($('#LogoImagem').val()) {
            case 'ti':
                $('#ti').attr('checked', true);
                break;

            case 'hac':
                $('#hac').attr('checked', true);
                break;

            case 'uhg':
                $('#uhg').attr('checked', true);
                break;
        }
        
    });
    function rbAltera(id) {
        $('#LogoImagem').val(id);
    }
</script>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Mensagem</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label"  style="display: inline-block;">
            @Html.LabelFor(model => model.Inicio)
        </div>
        <div class="editor-field"  style="display: inline-block;">
            @Html.EditorFor(model => model.Inicio)
            @Html.ValidationMessageFor(model => model.Inicio)
        </div>

        <div class="editor-label"  style="display: inline-block;">
            @Html.LabelFor(model => model.Fim)
        </div>
        <div class="editor-field"  style="display: inline-block;">
            @Html.EditorFor(model => model.Fim)
            @Html.ValidationMessageFor(model => model.Fim)
        </div>

        <div class="editor-label" >
            @Html.LabelFor(model => model.Sistema)
        </div>
        <div class="editor-field textboxUpper"  style="display: inline-block;">
            @*@Html.EditorFor(model => model.Sistema)*@
            @Html.TextBoxFor(model => model.Sistema, new { @class = "form-control", id = "Sistema" , @Value="SGS", @readonly="readonly" } )
            @Html.ValidationMessageFor(model => model.Sistema)
        </div>

           <div class="editor-field"  style="display: inline-block;">
            <div class="form-group">
                @Html.LabelFor(model => model.LogoImagem, htmlAttributes: new { @class = "control-label col-md-2" })
            
                     <input type="radio" id="ti" name="imagem" value="ti" checked onchange="rbAltera('ti')" style="width:40px"> TI
                      <input type="radio" id="hac" name="imagem" value="hac" onchange="rbAltera('hac')" style="width:40px"> HAC
                      <input type="radio" id="uhg" name="imagem" value="uhg" onchange="rbAltera('uhg')" style="width:40px"> UHG

                    @Html.TextBoxFor(model => model.LogoImagem, htmlAttributes: new { @class = "form-control", id = "LogoImagem", name ="LogoImagem", @readonly="readonly" })
            </div>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Texto)
        </div>
        <div class="editor-field fontText">
            @Html.TextAreaFor(model => model.Texto, new {style = "width: 700px;height:230px"})
            @Html.ValidationMessageFor(model => model.Texto)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.Status )
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.Status, htmlAttributes: new { @checked = true, @disabled = "disabled"} )
            //@Html.ValidationMessageFor(model => model.Status)
        </div>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.Modulo)
        </div>
        <div class="editor-field numeric-only">
            @Html.EditorFor(model => model.Modulo)
            @Html.ValidationMessageFor(model => model.Modulo)
        </div>*@

        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>


